
<!-- Search -->
<search xlu-include-file="templates/search.html">
</search>

<!-- Worker List -->
<section id="worker-list">

    <article class="worker-row">
        <h3>Lorem Ipsum</h3>
        <mark class="status active" aria-label="Active">&#10003;</mark>
        <button class="expand" aria-label="Expand">&#9660;</button>
    </article>

    <article class="worker-row">
        <h3>Lorem Ipsum</h3>
        <mark class="status inactive" aria-label="Inactive">&#10007;</mark>
        <button class="expand" aria-label="Expand">&#9660;</button>
    </article>

    <article class="worker-row">
        <h3>Lorem Ipsum</h3>
        <mark class="status active" aria-label="Active">&#10003;</mark>
        <button class="expand" aria-label="Expand">&#9660;</button>
    </article>

    <article class="worker-row">
        <h3>Lorem Ipsum</h3>
        <mark class="status active" aria-label="Active">&#10003;</mark>
        <button class="expand" aria-label="Expand">&#9660;</button>
    </article>

</section>

