<div id="dashboard-layout">
  <aside id="workers-panel">
    <div class="search-wrapper">
      <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
    </div>

    <div class="worker-list">
      <div *ngFor="let worker of filteredWorkers()"
           (click)="toggleWorker(worker)"
           class="worker-clickable"
           [class.active-row]="selectedWorker?.id === worker.id">

        <app-worker-row
          [workerData]="worker"
          [statusOk]="selectedWorker?.statusOk ?? false">
        </app-worker-row>

        <div class="details-content" *ngIf="worker.id && expandedWorkers[worker.id]">
<!--          <p><strong>Team:</strong> {{ 'No Project' }}</p>-->
          <button
            class="btn btn-sm btn-primary"
            (click)="openWorker(worker)">
            Detail
          </button>
        </div>

      </div>

    </div>

  </aside>

  <section id="map-container">
    <app-map-view></app-map-view>
  </section>
</div>
