<div id="dashboard-layout">
    <aside id="workers-panel">
      <div class="search-wrapper">
        <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
      </div>

      <div class="worker-list">
  <div *ngFor="let team of filteredTeams" class="worker-wrapper">
     
     <div (click)="toggleDetails(team)" style="cursor: pointer;">
        <app-worker-row [workerData]="{ name: team.name, status: 'active' }"></app-worker-row>
     </div>

     <div class="details-content" *ngIf="team.isExpanded">
        <p><strong>Projekt:</strong> {{ team.project }}</p>
        <ul>
           <li *ngFor="let m of team.members">• {{ m.name }}</li>
        </ul>
     </div>
  </div>
</div>
    </aside>

    <section id="map-container">
      <app-map-view></app-map-view>
    </section>
</div>