<ion-item lines="full" class="ion-margin-bottom">
  <ion-input
    [label]="label"
    labelPlacement="floating"
    [type]="type === 'password' && isPasswordVisible ? 'text' : type"
    [placeholder]="placeholder"
    [formControl]="control"
    [errorText]="errorMsg">
  </ion-input>

  <ion-button
    *ngIf="type === 'password'"
    slot="end"
    fill="clear"
    color="medium"
    (click)="togglePassword()">
    <ion-icon [name]="isPasswordVisible ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
  </ion-button>
</ion-item>
