#main_menu {
    background: #CCCCCC;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
#main_menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#main_footer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    border-top: 2px solid #999999;
    clear: both;
    text-align: center;
    border-top: 2px solid #999999;
}

#copyright {
    margin: 0 auto;
}

#main_header {
    background: var(--primary-background-color);
    /*border: 1px solid #999999;*/
    padding: 0;
    text-align: center;
}


#main_header h1 {
    padding: 20px;
}

.menu_item {
    background-color: var(--primary-button-color);
    color: var(--light-text-color);
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}
.menu_item:hover {
    background: var(--primary-button-hover-color);
}

