<ion-content class="ion-no-padding">
  <div class="top-header">
    <h1>Hey,<br>Welcome!</h1>
  </div>

  <div class="logo-container">
    <div class="circle-logo">
      <div class="inner-circle"></div>
    </div>
  </div>

  <div class="info-text">
    <p>Find information about your degree course and save your favorites!</p>
  </div>

  <div class="action-buttons">
    <ion-button expand="block" shape="round" class="black-btn" routerLink="/login">
      Login
    </ion-button>
    <ion-button expand="block" shape="round" class="black-btn" routerLink="/register">
      Register
    </ion-button>
  </div>
  <div class="guest-access">
    <a routerLink="/courses-dashboard">Explore as a Guest</a>
  </div>

  <div class="bottom-footer"></div>
</ion-content>
