


        /* Main Content Area */
        main {
            display: flex;
            flex: 1;
        }

        /* Left Panel */
        #left-panel {
            flex: 1.2;
            background-color: #ffffff;
            padding: 60px 40px;
        }



        .setting-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
        }

        .text-group .label {
            display: block;
            font-size: 14px;
            color: #333;
        }


        .text-group .description {
            display: block;
            font-size: 12px;
            color: #888;
            margin-top: 4px;
        }

        /* CSS Toggle Switch */
        .toggle {
            width: 44px;
            height: 22px;
            background-color: #ccc;      /* grigio = OFF */
            border-radius: 12px;
            position: relative;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .toggle input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;
            position: absolute;
        }

        .toggle::after {
            content: '';
            position: absolute;
            left: 2px;          /* pallino a sinistra = OFF */
            top: 2px;
            width: 18px;
            height: 18px;
            background-color: white;
            border-radius: 50%;
            transition: left 0.3s;
        }

        /* Stato ON */
        .toggle:has(input:checked) {
            background-color: #333;
        }

        .toggle:has(input:checked)::after {
            left: 24px;         /* pallino a destra = ON */
        }


        /* Right Panel */
        #right-panel {
            flex: 1;
            background-color: #d9d9d9;
            padding: 60px 40px;
        }

        #right-panel h2 {
            font-size: 16px;
            font-weight: 900;
            color: #000;
            text-transform: uppercase;
        }

    .settings-box {
        max-width: 450px;          
        display: flex;
        flex-direction: column;
    }

.setting-button {
    display: flex;
    justify-content: space-between; 
    align-items: center;         
    padding: 15px 20px;
    /* border-top: 1px solid #eee;      */
    margin-top: auto;     
}
    
    .setting-button-alternate {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 15px 20px;
    }