<ion-content class="blue-content ion-no-padding">
  <div class="top-header">
    <h1>Hey,<br>Welcome Back!</h1>
  </div>

  <div class="form-container">
    <div class="input-group">
      <ion-label>Email</ion-label>
      <ion-input type="email" placeholder="Enter email" [(ngModel)]="email" class="blue-input"></ion-input>
    </div>

    <div class="input-group">
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="Enter password" [(ngModel)]="password" class="blue-input"></ion-input>
    </div>

    <ion-button expand="block" shape="round" class="black-btn" (click)="login()">
      Login
    </ion-button>

    <div class="footer-text">
      <span>New here? <a routerLink="/register">Register</a></span>
    </div>
  </div>
</ion-content>
