<nav id="main_menu">
    <ul class="page-change-menu">
        <li><a class="menu_item" href="/tracking_project/pages/dashboard.html">Dashboard</a></li>
        <li><a class="menu_item" href="/tracking_project/pages/map.html">Map</a></li>
        <li><a class="menu_item" href="/tracking_project/pages/team-detail.html">Team</a></li>
        <li><a class="menu_item" href="/tracking_project/pages/settings.html">Settings</a></li>
    </ul>
    <div class="login-button-space">
        <a href="../../pages/login.html" class="btn login-button">Login</a>
    </div>
</nav>