<ion-item
  *ngIf="type === 'button'"
  button
  detail="true"
  [color]="isActive ? 'light' : ''"
  (click)="handleContainerClick()">

  <ion-label>
    <h2>{{ label }}</h2>
    <p *ngIf="description">{{ description }}</p>
  </ion-label>

</ion-item>

<ion-item
  *ngIf="type === 'toggle'"
  [color]="isActive ? 'light' : ''">

  <ion-label>
    <h2>{{ label }}</h2>
    <p *ngIf="description">{{ description }}</p>
  </ion-label>

  <ion-toggle
    slot="end"
    [checked]="toggleValue"
    (ionChange)="onToggle($event)">
  </ion-toggle>

</ion-item>
