<div id="wrapper" [class.dark-mode]="isDarkMode">
  <header id="main_header">
      <h1><a id="main_title" routerLink="/">Employees tracking app</a></h1>
      
      <nav id="main_menu">
          <ul class="page-change-menu">
              <li><a class="menu_item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
              <li><a class="menu_item" routerLink="/map" routerLinkActive="active">Map</a></li>
              <li><a class="menu_item" routerLink="/team" routerLinkActive="active">Team</a></li>
              <li><a class="menu_item" routerLink="/settings" routerLinkActive="active">Settings</a></li>
          </ul>
          <div class="login-button-space">
              <a *ngIf="!isLoggedIn" routerLink="/login" class="btn login-button">Login</a>
              <button *ngIf="isLoggedIn" (click)="logout()" class="btn login-button">Logout ({{ username }})</button>
          </div>
      </nav>
  </header>
    <main>
        <router-outlet></router-outlet>
    </main>

  <footer id="main_footer">
      <div id="copyright"> Copyright &copy; 2026 </div>        
      <a routerLink="/login" class="btn login-button-footer">Login</a>
  </footer>
</div>