:root {
    --primary-background-color: #3C74DF;
    --primary-button-color: #01239f;
    --primary-button-hover-color: #95b2ed;
    --light-text-color: #ffffff;
    --border-radius: 6px;
}

/* Breakpoints
   phone  : 600px
   tablet : 768px
   laptop : 1024px
*/

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 20px verdana, sans-serif;
    text-align: center;
}
h2 {
    font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    /* margin: 15px auto; */
    text-align: left;
    padding: 0;
    overflow: hidden; /* makes scrollbar */
}


#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% */
    width: 100vw;
    margin: 0;
    overflow: hidden;
    border: 1px solid #999999;
}

main {
    flex: 1; /* To sprawia, że main "puchnie" i zajmuje całe wolne miejsce */
    display: flex;
    flex-direction: row; /* Aside obok Mapy */
    overflow: hidden; /* Kluczowe: main nie może się powiększać przez dzieci */
    min-height: 0;   /* Ważne dla Chrome/Firefox: pozwala dziecku (aside) na scroll */
}
@media (max-width: 600px) {
    main {
        height: auto;
        padding: 8px;
    }
}

article {
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 10px;
}
article footer {
    text-align: right;
}
time {
    color: #999999;
}
figcaption {
    font: italic 14px verdana, sans-serif;
}

div {
    /*width: 100px;*/
    /*margin: 20px;*/
    /*padding: 10px;*/
    /*border: 1px solid #000000;*/

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button, .btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 24px;
    font-size: 0.9rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}
button:hover, .btn:hover {
    background: #555;
}

/* Footer */
footer#main_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 20px;
    background-color: #e0e0e0;
}
