.row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 0;
}

ion-label h2 {
  font-size: 1.05rem;
  font-weight: 500;
  margin: 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;

  ion-icon {
    font-size: 1rem;
  }
}
