<ion-content class="blue-content ion-no-padding">
  <div class="header-nav">
    <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </div>

  <div *ngIf="step === 1">
    <div class="top-header-pill">
      <h2>Complete...</h2>
    </div>

    <div class="form-container">
      <div class="input-group">
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="userData.name" placeholder="Name" class="blue-input"></ion-input>
      </div>
      <div class="input-group">
        <ion-label>Surname</ion-label>
        <ion-input type="text" [(ngModel)]="userData.surname" placeholder="Surname" class="blue-input"></ion-input>
      </div>
      <div class="input-group">
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="userData.email" placeholder="Email" class="blue-input"></ion-input>
      </div>

      <div class="link-text">
        <a (click)="uploadProfileImage()">Profile Image</a>
      </div>

      <ion-button expand="block" shape="round" class="black-btn" (click)="nextStep()">
        Continue
      </ion-button>
    </div>
  </div>

  <div *ngIf="step === 2">
    <div class="top-header-pill">
      <h2>Choose a<br>password!</h2>
    </div>

    <div class="form-container">
      <div class="input-group">
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" placeholder="Password" class="blue-input"></ion-input>
      </div>
      <div class="input-group">
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm Password" class="blue-input"></ion-input>
      </div>

      <ion-button expand="block" shape="round" class="black-btn" (click)="register()">
        Register
      </ion-button>
    </div>
  </div>
</ion-content>
