aside#workers-panel {
    width: 100%;
}

#details-view {
    display: none;
}

@media (min-width: 900px) {
    main {
        flex-direction: row;
    }

    #workers-panel {
        flex: 0 0 400px;
        border-right: 1px solid var(--border-color);
        overflow-y: auto;
    }

    #details-view {
        display: flex;
        flex: 1;
        background: var(--bg-article);
        padding: 60px;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }
}

.big-card {
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.big-avatar {
    width: 150px;
    height: 150px;
    background: var(--border-color);
    border-radius: 50%;
    margin: 0 auto 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    text-align: left;
}