.teams-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.team-list {
  margin-top: 8px;
  padding-left: 12px;
  opacity: 0.8;
  flex: 1;
  overflow-y: auto;
}

.team-item {
  font-size: 14px;
}

/*--------------*/
:host {
    display: block;
    width: 100%;
    height: 100%;
}

.team-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 160px);
    align-items: stretch;
}

#teams-panel {
    width: 400px;
    min-width: 400px;
    background: var(--bg-tertiary);
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column; /* Układ pionowy dla search + list */
}

.search-wrapper {
    padding: 15px 20px;
    border-bottom: 1px solid var(--border-color);
    background: var(--bg-tertiary);
}

.status-label {
    font-weight: bold;
    color: var(--text-muted);
    margin-bottom: 10px;
}

.team-clickable {
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    transition: all 0.2s;
}

.team-clickable:hover {
    background: var(--bg-secondary);
}

/*
.active-row {
    background: var(--primary-background-color) !important;
}
*/

/* Change text color if selected */
.active-row ::ng-deep h3,
.active-row ::ng-deep p,
.active-row ::ng-deep span {
    /*color: white !important;*/
}

@media (max-width: 900px) {
    .team-layout {
        flex-direction: column;
    }
    #teams-panel {
        width: 100%;
        min-width: 100%;
        height: 50%;
    }
    #details-view {
        height: 50%;
    }
}
