<div class="team-layout">

  <!-- LEFT PANEL -->
  <aside id="workers-panel">

    <!-- SEARCH -->
    <div class="search-wrapper">
      <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
    </div>

    <!-- TEAM LIST -->
    <div class="team-list">
      <div *ngFor="let team of filteredTeams"
           (click)="selectedTeam = team"
           class="team-clickable"
           [class.active-row]="selectedTeam?.id === team.id">

        <app-team-row
          [teamData]="team"
          [statusOk]="teamStatuses[team.id] ?? false">
        </app-team-row>
      </div>
    </div>
  </aside>
</div>
